<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
  <form id="form">
    <input type="text" name="text" class="text">
    <button type="submit" class="sendMessage">Send</button>
  </form>
  <div class="result"></div>
  <script src="../js/main.js"></script>
</body>

</html>