<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="./styles/fontello-codes.css" type="text/css">
  <link rel="stylesheet" href="./styles/fontello-embedded.css" type="text/css">
  <link rel="stylesheet" href="./styles/fontello-ie7-codes.css" type="text/css">
  <link rel="stylesheet" href="./styles/fontello-ie7.css" type="text/css">
  <link rel="stylesheet" href="./styles/fontello.css" type="text/css">
  <link rel="stylesheet" href="../styles/main.css">
  <title>EJS test</title>
</head>

<body>
  <form id="form-select">
    <input type="text" placeholder="from" class="from" name="from">
    <input type="text" placeholder="to" class="to" name="to">
    <button type="submit">SELECT</button>
  </form>

  <hr>

  <form id="form-insert">
    <input type="text" placeholder="make" class="make" name="make">
    <input type="text" placeholder="model" class="model" name="model">
    <input type="text" placeholder="year" class="year" name="year">
    <button type="submit">INSERT</button>
  </form>
  <hr>
  <div class="answ"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>