<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:;base64,=">
  <title>EJS test</title>
</head>

<body>
  <form class="form">
    <input type="text" name="inp">
    <input type="submit">
  </form>
  <div class="answ"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>