<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Socket.io example</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
  <div class="result">
    <div class="input-value">0</div>
    <input id="procent" type="range" min="0" max="100" step="1" value="0">
  </div>
  <script src="./js/main.js"></script>
</body>

</html>