<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Api</title>
</head>

<body>
  <% users.forEach(el=> { %>
    <div>
      <p>
        <span>counter:</span>
        <%= el.counter %>
      </p>
      <p>
        <span>host:</span>
        <%= el.host %>
      </p>
      <p>
        <span>connection:</span>
        <%= el.connection %>
      </p>
      <p>
        <span>referer:</span>
        <%= el.referer %>
      </p>
      <hr>
    </div>
    <%})%>
</body>

</html>