<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <select class="dog-select">
    <% for(let i=0; i < dogArr.length; i++){ %>
      <option class="dog-option">
        <%= dogArr[i] %>
      </option>
      <%}%>
  </select>

  <script src="/javascripts/main.js"></script>
</body>

</html>