.country {
  max-width: 1000px;
  margin: 20px auto;
  border:  1px solid black;

}

.country-name {
  display: flex;
  line-height: 0.5em;
  justify-content: center;
}

.flag {
  width: 50px;
  height: 50px;
}

.catAll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cat {
  border: 1px solid black;
  margin: 20px;

}

.cat-name {
  text-align: center;
}

h2 {
  margin: 0;
}

.cat-img {
  width: 200px;
  height: 200px;
}