<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>EJS test</title>
</head>

<body>

  <div class="wrap">
    <form>
      <input type="radio" name="region" value="Africa">Africa<Br>
      <input type="radio" name="region" value="Americas">Americas<Br>
      <input type="radio" name="region" value="Asia">Asia<Br>
      <input type="radio" name="region" value="Oceania">Oceania<Br>
      <input type="radio" name="region" value="Europe">Europe<Br>
    </form>
    <div class="answ"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>